@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.profile-head {
    transform: translateY(2rem)
}


.delete-btn{
    float: right;
    height: 30px;
    width: 150px;
    border: none;
    color: #fff;
    border-radius: 4px;
    background-color: cadetblue;
    cursor: pointer;
    text-transform: uppercase
}

.form-control{
    background-color: white;
}


.delete-btn:hover {
    background: darkcyan;
}

.delete-btn:focus {
    background: darkcyan;
    box-shadow: none
}

.delete-btn:active {
    background: darkcyan;
    box-shadow: none
}

.cover {
    background-color: #ecd9c6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif
}

.container {
    height: 80vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: burlywood;
}



.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.card .inputs span {
    font-size: 12px
}

.inputs input {
    height: 40px;
    padding: 0px 10px;
    font-size: 17px;
    box-shadow: none;
    outline: none;
    background-color: white;
}

.inputs input[type="text"][readonly] {
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: white;
}


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://cdn.pixabay.com/photo/2021/09/20/21/32/lake-6641880_960_720.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.edit-button {
    box-shadow: none;
    border: none;
    background-color: cadetblue;
    cursor: pointer;
    text-transform: uppercase
}

.edit-button:hover {
    background: darkcyan;
}

.edit-button:focus {
    background: darkcyan;
    box-shadow: none
}

.edit-button:active {
    background: darkcyan;
    box-shadow: none
}

.labels {
    font-size: 11px
}
