.main_photo{
    border-radius: 5%;
}

.profile_main{
    background-image: url('images/back2.jpg');
    background-size: 100% 100%;
}

.side_photo img{
    border-radius: 5%;
}

.cottage_profile{
    background: #ecd9c6;
    border: 4px solid white;
    border-radius: 2%;
}

.number_info p{
    font-size: 20px;
}

.number_info i{
    color: black;
}

.services{
    font-size: 18px;
}

.services i{
    color: black;
    font-size: 15px;
}

.rules{
    font-size: 18px;
}

.rules i{
    color: #00b3b3;
    font-size: 8px;
}

.res_button{
    margin-left: 75%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.res_button button{
    color: white;
    background: #2e6b6b;
}

#quick_heading{
    font-size: 25px;
    color:#c91d1d;
    font-weight: bold;
}

.quick_res{
    border-radius: 5%;
    background: white;
    font-size: 20px;
    border: 3px solid #c91d1d;
    width: 32%;
}

.res_date{
    display: inline-block;
    font-weight: bold
}

.discount{
    background: #c91d1d;
    display: inline-block;
    margin-left: 20%;
    color: white;
    border-radius: 50%;
    padding: 5px
}

.quick_res_btn{
    margin-left: 70%;
}

.quick_res_btn button{
    background: #c91d1d;
    color: white;
}

.before_price{
    color: #c91d1d;
}